html {
    box-sizing: border-box;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    display: block;
}

head {
    display : none;
}

body {
    font-size: 18px;
    line-height: 22px;
    font-family: Graphik, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    direction: ltr;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum" 1;
    background: #f5f5fa;
    color: #47474f;
    margin: 0;
}

.header {
    background: #498740;
    width: 100%;
    height: 140px;
    z-index: 1041;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0 3px 6px 0 rgba(50,50,50,.3);
    padding: 0;
}

.header nav {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 140px;
}

.header nav a:not(.btn) {
    color: #161616;
    text-decoration: none;
}

.header nav .brand {
    order: 1;
    display: block;
}

.brand {
    line-height: 20px;
}

a {
    font-weight: 500;
    cursor: pointer;
    background: rgba(0,0,0,0);
}

.header nav .actions {
    order: 2;
    margin-left: auto;
    margin-right: -24px;
    margin: 600px;
    align-items: center;
    height: 100%;
    display: flex;
}

.header nav .actions>a {
    font-size: 14px;
    line-height: 18px;    
}

.header nav .actions>* {
    margin: 0 6px;
}

.header .hide--sm {
    display: flex;
}

.header nav a {
    align-items: center;
}

.btn--sm {
    min-height: 32px;
    height: 32px;
    border-radius: 6px;
    font-weight: 600;
    padding: 0 12px;
}

.btn {
    width: 80px;
    text-shadow: none;
    border: 1px solid rgba(0,0,0,0);
    text-decoration: none;
    justify-content: center;
    text-align: center;
    transition: all .1s linear;
    color: #161616;
    background-color: #fff;
}

.link--secondary {
    min-height: 32px;
    height: 32px;
    border-radius: 6px;
    font-weight: 600;
    padding: 0 12px;
}

.header .show--sm {
    display: none;
}

.header nav a>.ico {
    margin-right: 8px;
}

.ico--auth {
    filter: none!important;
    width: 32px;
    height: 32px;
    background-position: -55px -327px;
}

.ico {
    padding: 0;
    margin: 0;
    border: none;
    background: rgba(0,0,0,0) url(); /* Link to be added*/
    display: block;
}

i {
    font-style: italic;
}

.header nav .actions>ul {
    height: 30px;
    display: flex;
    margin: 0;
}

nav ul {
    padding-left: 20px;
    list-style: none;
}

.ico {
    position: relative;
    display: inline-block;
}

.ico .ico--hamburger {
    cursor: pointer;
}

.ico .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: -150%;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.ico .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
}

.ico:hover .dropdown-content {
    display: block;
}

.header nav .actions>ul>li.has-dropdown {
    position: relative;
    cursor: pointer;
}

.header nav .actions>ul>li {
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
}

.header nav li {
    text-transform: uppercase;
    font-weight: 500;
}

.header nav .actions>ul>li.has-dropdown>span {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.header nav .actions>ul>li.has-dropdown>span>.ico {
    display: inline-block;
    margin-left: 8px;
}

.header nav .action .ico {
    filter: brightness(0) saturate(100%) invert(0) sepia(1%) saturate(3992%) hue-rotate(328deg) brightness(82%) contrast(83%);
}

.header nav span>.ico {
    margin-right: 8px;
}

.header nav li .ico {
    margin: 0 8px 0 0;
}

.ico--hamburger {
    background-position: -55px -5px;
}
.grid-layout {
    display: grid;
}

.grid-layout > * {
    flex: 1;
}

.col {
    display: grid;
    align-content: center;
    gap: 2rem;
}
