:root {
  --ff-sans: "Arial", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-above-normal: 550;
  --fw-bold: 600;

  --fs-200: 0.75rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-900: 2.5rem;

  --clr-primary-900: #254620;
  --clr-primary-700: #396c31;
  --clr-primary-500: #497000;
  --clr-primary-400: #579c4c;
  --clr-primary-300: #65b741;
  --clr-primary-100: #d1dbbf;

  --clr-white: #fefeff;
  --clr-red: #c74545;
  --clr-dark-red: #bd060a;
  --clr-yellow: #b9b04f;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  line-height: 1.7;
  color: var(--clr-neutral-400);
}

h2 {
  font-family: var(--ff-sans);
  font-size: var(--fs-900);
  font-weight: var(--fw-normal);
  color: var(--clr-primary-700);
  text-align: center;
}

p {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: var(--clr-primary-500);
  text-align: center;
}

header {
  height: 20vh;
}
.top {
  min-height: 75%;
  padding: 0;
  padding-left: 100px;
  background: linear-gradient(
    to right,
    var(--clr-primary-700),
    var(--clr-primary-400)
  );
  display: flex;
  align-items: center;
}

.main-image {
  max-height: 100px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: var(--clr-white);
}

button:hover {
  cursor: pointer;
}

.no-border {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-above-normal);
  border: 0px;
  background-color: var(--clr-white);
}

.no-border:hover {
  color: #396c31;
}

.sign-up {
  padding: 5px;
  border: 5px;
  border-radius: 5px;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-above-normal);

  color: var(--clr-white);
  background-color: var(--clr-primary-700);
}

.sign-up:hover {
  background-color: var(--clr-primary-900);
}

main {
  /*display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    background:var(--clr-primary-100);*/
  display: grid;
  height: 70vh;
  grid-template-columns: 1fr 1fr; /* Divide into two columns */
  grid-template-rows: 1fr; /* Divide into one row */
  background: var(--clr-primary-100);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.right {
  background-color: var(--clr-white);
  background-clip: content-box;
}

.choose-file {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-red);
  color: var(--clr-white);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: var(--ff-sans);
  font-size: var(--fs-600);
  font-weight: var(--fw-above-normal);
  border: 0px;
  border-radius: 40px;
}

.choose-file:hover {
  background-color: var(--clr-dark-red);
}

.welcome-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 20%;
  width: 60%;
}

.welcome-prompt .temp {
  background-clip: content-box;
  background-size: cover;
  border-radius: 100px;
}

footer {
  height: 20vh;
  text-align: center;
  font-size: 18px;
  line-height: 5px;
  font-weight: 600;
  color: var(--clr-primary-500);
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-top: 25px;
}

.signup-wrapper {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--clr-primary-400),
    var(--clr-yellow)
  );
}

.header {
  width: 100%;
  height: 15%;
  background: linear-gradient(
    to right,
    var(--clr-primary-700),
    var(--clr-primary-400)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.signup-wrapper > .right > h2 {
  color: black;
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-size: var(--fs-900);
}

.input-group {
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signup-wrapper > .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-wrapper > .right > .input-group > input {
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  padding-block: 6px;
}

.input-group > label {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  pointer-events: none; /* Prevents the label from being interactive */
}

:is(.input-group):has(input:focus-visible) label,
:is(.input-group):has(input:not(:placeholder-shown)) + label {
  top: 2px;
  left: 14px;
  font-size: 0.6rem;
  background: white;
}

.email-input {
  position: absolute;
  top: 6px;
  left: 20px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

.password-input {
  top: 2px;
  left: 14px;
  font-size: 0.6rem;
  background: var(--clr-white);
}

/* .input-group > label[for="passwordInput"] {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

:is(.input-group):has(input:focus-visible) label[for="passwordInput"],
:is(.input-group):has(input:not(:placeholder-shown))
  + label[for="passwordInput"] {
  top: 2px;
  left: 14px;
  font-size: 0.6rem;
  background: var(--clr-white);
}

.input-group > label[for="confirmPasswordInput"] {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

:is(.input-group):has(input:focus-visible) label[for="confirmPasswordInput"],
:is(.input-group):has(input:not(:placeholder-shown))
  + label[for="confirmPasswordInput"] {
  top: 2px;
  left: 14px;
  font-size: 0.6rem;
  background: var(--clr-white);
} */

.create-account {
  background-color: var(--clr-primary-300);
  border: none;
  border-radius: 5px;
  color: var(--clr-white);
  min-width: 168px;
  min-height: 30px;
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
}

.create-account:hover {
  cursor: pointer;
  background-color: var(--clr-primary-400);
}

.signup-wrapper > .right > p {
  color: black;
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fs-200);
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  background: rgba (0, 0, 0, 0);
}

.footer_main li {
  margin-bottom: 12px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
}

.footer_main li a {
  color: #47474f;
  font-weight: 400;
  text-decoration: none;
}

.footer_main li a:hover {
  color: var(--clr-primary-600);
}

.col {
  flex: 0 0 66.67%;
  max-width: 72.67%;
}

.footer_mainer {
  display: flex;
  justify-content: flex-end;
}

.footer_mainer .slogan {
  margin-right: 16px;
}

.slogan p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.separator {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  border-bottom: 1px solid #b4b4b4;
}

.social .social_item {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  display: inline-block;
  margin-left: 8px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
}

.social .social_item a {
  font-weight: 500;
  text-decoration: underline;
  color: var(--clr-primary-500);
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}

.twttr {
  background-image: url(/images/twitter.png);
}

.fb {
  background-image: url(/images/facebook.png);
}

.lnkd {
  background-image: url(/images/linkedin.png);
}

.nstgrm {
  background-image: url(/images/instagram.png);
}

.tk {
  background-image: url(/images/tiktok.png);
}

.social_item:hover {
  opacity: 2.5;
}

.right-most p {
  color: #000;
}

.input-field {
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  padding-block: 6px;
}

.input-field:focus + label,
.input-field:not(:placeholder-shown) + label {
  top: 2x;
  left: 14px;
  font-size: 0.6rem;
  background: white;
}

.input-field::placeholder {
  color: var(--clr-neutral-400);
}
